{% extends 'base2.html' %}

{% load crispy_forms_tags %} ## Carregando a biblioteca

{% block title %} {{plano.nome}} | Unimages{% endblock %}

{% block content %}

    
{% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<div class="container-text">
    <div class="text">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{plano.nome}}</h5>
              <p class="card-text">Descrição: {{plano.descricao}}</p>
              <p class="card-text">Valor: R$ {{plano.valor}}</p>
              <p class="card-text">Duração: {{plano.valor}}</p>
              <p class="card-text">Pix: {{plano.pix}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
