{% extends 'base2.html' %}

{% load crispy_forms_tags %} ## Carregando a biblioteca

{% block title %} Planos | Unimages{% endblock %}

{% block content %}
<div class="container-text">
    <div class="text">
        {% for p in planos %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><a class="link-plano" href="../plano/{{p.id}}">{{p.nome}}</a></h5>
              <p class="card-text">{{p.descricao}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}