/* index */

.bem-vindo {
    margin: 0 auto;
    text-align: center;
    animation: 1s ease 500ms animacaoTitulo forwards;
}

.frase-a {
    text-align: center;
    animation: 4s ease 600ms animacaoTexto forwards;
}

.frase-b {
    text-align: center;
    animation: 8s ease 600ms animacaoTexto forwards;
}

/* sobre e contatos */

.container-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.container-text .title {
    margin: 0 auto;
    text-align: center;
}

.container-text .text {
    margin: 0 auto;
    font-size: 18px;
    margin-top: 5%;
    text-align: justify;
}


@keyframes animacaoTitulo {
    from {
        transform: scale(0.2) translateY(50vh);
        opacity: 0;
    }

    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes animacaoTexto {
    from {
        transform: scale(0.2) translateY(60vh);
        opacity: 0;
    }

    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.container-text .img {
    width: 250px;
    height: 250px;
}

/* Botão de adicionar */

#add-link {
    text-decoration: none;
}

/* Messages */

ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}