.container-fluid {
    padding: 0;
}

.container-fluid .row {
    margin: 0;
}

/* Botão de adicionar */

#add-link {
    text-decoration: none;
}

/* Messages */

ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}