{% extends 'base_inicio.html' %}

{% load crispy_forms_tags %} ## Carregando a biblioteca

{% block title %}Unimages - Cadastrar imagem{% endblock %}

{% block content %}

{% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<main class="main-forms">
    <div class="container-forms">
        <form method="post" class="forms" enctype="multipart/form-data">
            <h4>Cadastrar imagem</h4>
            {% csrf_token %}

            {{ form | crispy }}
            <button type="submit" class="botao-forms">Salvar</button>
            <p class="forms-p">Deseja voltar a home? <a href="{% url 'paginas:home' %}">Clique aqui!</a>
            </p>
        </form>
    </div>
</main>

{% endblock %}
