* {
    padding: 0;
    margin: 0;
    /*  incluem o tamanho padding size e a propriedade border, mas não incluem a propriedade margin.*/
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.body {
    width: 100%;
    height: 100%;
}

a {
    list-style: none;
    text-decoration: none;
    pointer-events: auto;
}

/* Navbar*/

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-dark .navbar-nav a.nav-link {
    color: #f5f5f5;
    letter-spacing: 1px;
}

/* Forms */


.main-forms {
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    /*
    display: grid;
    place-items: center;
     background: linear-gradient(45deg, #8e2de2, #4a00e0);
    */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-forms {
    margin: 2rem;
}

.forms {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 100%;
    max-width: 32rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

/* Login*/

.main-login {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    /*
    display: grid;
    place-items: center;
    */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login {
    margin: 2rem;
}

.form-login {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 100%;
    max-width: 28rem;
    background-color: #fff;
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

/* Cadastro */

.main-cadastro {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    /*
    display: grid;
    place-items: center;
    */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-cadastro {
    margin: 1.2rem;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 100%;
    max-width: 32rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

.form-cadastro label, .form-login label, .forms label {
    width: 100%;
    color: #777;
    align-self: flex-start;
    transition: 0.15s linear;
}

.form-p {
    margin-top: 20px;
    text-align: center;
}

.container-cadastro h4, .container-login h4, .container-forms h4 {
    color: #00004e;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
}

.botao {
    font-size: 0.8125rem;
    line-height: 0.1rem;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    padding: 1rem 2rem;
    cursor: pointer;
    background: transparent;
    color: linear-gradient(45deg, #8e2de2, #4a00e0);
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 0.5rem;
    transition: 0.25s;
}

.container-cadastro a, .container-login a {
    color: #8e2de2;
    list-style: none;
    text-decoration: none;
    pointer-events: auto;
}

.container-cadastro a:hover, .container-login a:hover {
    color: #4a00e0;
    list-style: none;
    text-decoration: none;
    pointer-events: auto;
}

/* Messages */

ul {
    padding: 0;
    font-size: 15px;
}

ul li {
    list-style: none;
}

/* Rodapé*/

.footer {
    width: 100%;
    bottom: 0;
    background-color: #0d6efd;
    color: #fff;
    text-align: center;
    padding: 0.8em;
    opacity: 0.90;
    box-sizing: border-box;
    position: fixed;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.copy_right {
    margin-top: 2em;
}

.social_list li:hover, .copy_right:hover {
    color: #f5f5f5;
}

.social_list li a {
    color: #f5f5f5;
    text-decoration: none;
}



.copy_right span {
    font-weight: bold;
}

/* CSS FLEXBOX 1 */

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex>div {
    flex: 1 1 200px;
    margin: 10px;
}