{% extends 'base.html' %} 

{% load crispy_forms_tags %} ## Carregando a biblioteca 

{% block title %} Home | Unimages{% endblock %} 

{% block content %}

{% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<!--
<a class="nav-link" href="{% url 'paginas:cadastrar_autor'%}">Cad autor</a>
<a class="nav-link" href="{% url 'paginas:editar_autor'%}">Editar autor</a>
<a class="nav-link" href="{% url 'paginas:deletar_autor'%}">Delete autor</a>
<a class="nav-link" href="{% url 'paginas:cadastrar_plano'%}">Cad plano</a>
<a class="nav-link" href="{% url 'paginas:cadastrar_imagem'%}">Cad imagem</a>
-->

<!--
<section class="flex">
    {% for i in imagens %}
        <div class="img">
            <a href="{% url 'paginas:imagem' i.id %}">
                <img src="{{i.arquivo.url}}" alt="Forest" width="300" height="200">
            </a>
            <form method="post" action="{% url 'paginas:favoritar_imagem' i.id %}">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit"><i class="fa fa-heart"></i>
                    Favoritar</button>
            </form>
            <form method="post" action="{% url 'paginas:download_imagem' i.id %}">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit"><i class="fa fa-download"></i>
                    Download</button>
            </form>
            <div class="desc">{{i.descricao}}</div>
        </div>
    {% endfor %}
</section>
-->
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for i in imagens %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="{% url 'paginas:imagem' i.id %}">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block; object-fit: contain;" src="{{i.arquivo.url}}" data-holder-rendered="true">
            </a>
            <div class="card-body">
              <a href="{% url 'paginas:imagem' i.id %}">
                <p class="card-text" style="color: rgb(0, 9, 59)">{{i.titulo}}</p>
               </a>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form method="post" action="{% url 'paginas:favoritar_imagem' i.id %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Favoritar <i class="fa fa-heart"></i></button>
                  </form>
                  <form method="post" action="{% url 'paginas:favoritar_imagem' i.id %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{i.imagem.arquivo.url}}" download=""{{i.imagem.titulo}}"">Download <i class="fa fa-download"></i></a>
                  </form>
                </div>
                <small class="text-muted">{{i.formato.nome}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>

{% endblock %}
