{% extends 'base.html' %} 

{% load crispy_forms_tags %} ## Carregando a biblioteca 

{% block title %} Home | Unimages{% endblock %} 

{% block content %}

{% if messages %}

<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<!--
<a class="nav-link" href="{% url 'paginas:cadastrar_autor'%}">Cad autor</a>
<a class="nav-link" href="{% url 'paginas:editar_autor'%}">Editar autor</a>
<a class="nav-link" href="{% url 'paginas:deletar_autor'%}">Delete autor</a>
<a class="nav-link" href="{% url 'paginas:cadastrar_plano'%}">Cad plano</a>
<a class="nav-link" href="{% url 'paginas:cadastrar_imagem'%}">Cad imagem</a>
-->

{% for i in imagens %}
    <div class="img">
        <a target="_blank" href="#">
            <img src="{{i.arquivo.url}}" alt="Forest" width="300" height="200">
        </a>
        <div class="desc">{{i.descricao}}</div>
    </div>
{% endfor %}


{% endblock %}
