{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Unimages{% endblock %}

{% block content %}

<div class="container-text">
  <h1 class="title">Bem-vindo a Unimages</h1>
  <div class="text">
    <p class="frase-a" >
      "A mais nobre paixão humana é aquela que ama a imagem da beleza em vez da
      realidade material. O maior prazer está na contemplação."
      <em>Leonardo da Vinci</em>
    </p>
    <p class="frase-b">
      "A beleza pode ser vista em todas as coisas, ver e compor a beleza é o que
      separa a simples imagem da fotografia." <e>Matt Hardy</e>
    </p>
  </div>
</div>
</script>
{% endblock %}
