{% extends 'base2.html' %}

{% load static %}

{% load crispy_forms_tags %} ## Carregando a biblioteca

{% block title %} Sobre | Unimages{% endblock %}

{% block content %}

<div class="container-text">
  <h1 class="title">Sobre nós</h1>
  <div class="text">
    <p>
      Há 3 anos no mercado de imagem, a Unimages se consolidou como umas dos
      maiores banco de imagens do país. Com uma plataforma de serviços de fácil
      acesso e com um programa gratuito para alunos, oferecemos as mais
      eficientes e inovadoras imagens, promovendo uma jornada de transformação e
      com diferentes segmentos fotográficos. Juntos, somos mais de 300 mil
      usuários no Brasil e no exterior, vem fazer parte desse time!
    </p>
  </div>
</div>

{% endblock %}
