.footer {
    background-color: #0d6efd;
    text-align: center;
    color: #fff;
    padding: 3em;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: aliceblue;
}


.social_list li a {
    color: #fff;
    text-decoration: none;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: aliceblue;
}